.nav-logo {font-size: 13px;
          color:#FF4D4D;
          display: inline-block;
          margin: 22px 92px 15px 20px;
          vertical-align: middle;}
.nav-li1 {font-size: 11px;
          color:#202124;
          display: inline-block;
          margin: 22px 27px 17px 0px;
          vertical-align: middle;}

.nav-li {font-size: 11px;
          color:#A6ADB4;
          display: inline-block;
          margin: 22px 22px 17px 0px;
          vertical-align: middle;}

.nav-li3 {margin-right:40px;}
.div1 {display: inline-block;}
.circleimage {margin: 13px 0px 7px 0px;
              display: inline-block;
              vertical-align: middle;}


