.nav-logo {font-size: 13px;
          color:#FF4D4D;
          display: inline-block;
          margin: 22px 92px 15px 20px;
          vertical-align: middle;}
.nav-li1 {font-size: 11px;
          color:#202124;
          display: inline-block;
          margin: 22px 27px 17px 0px;
          vertical-align: middle;}

.nav-li {font-size: 11px;
          color:#A6ADB4;
          display: inline-block;
          margin: 22px 22px 17px 0px;
          vertical-align: middle;}

.nav-li3 {margin-right:40px;}
.div1 {display: inline-block;}
.circleimage {margin: 13px 0px 7px 0px;
              display: inline-block;
              vertical-align: middle;}
.title {color:#202124;
        margin: 25px 38px 40px 0px;
        font-size: 24px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;}
.divsection1 {background: #F6F8F9;
              width: 360px; 
              height:350px;
              margin-right: 40px;
              display: inline-block;
              vertical-align: top;}
.img1 {position:absolute;}
.p1on {color:#FFFFFF;
     font-size:16px;
     display: inline-block;
     position: relative;
     top:28px;
     right:40px;
     left:40px;
     font-family: 'IBM Plex Sans Arabic', sans-serif;}
.p1 {position: relative;
     font-size:13px;
     width:280px;
     color:#707070;
     display: inline-block;
     padding: 246px 40px 66px 40px;
     font-family: 'IBM Plex Sans Arabic', sans-serif;}
.divsection2 {display: inline-block;
              width: 360px; 
              height:350px;
              background:#F6F8F9;
             margin-right: 40px;
             vertical-align: top;}
.divsection3 {display: inline-block;
              width: 360px; 
              height:350px;
              background:#F6F8F9;
             vertical-align: top;}
.topdiv {width: 1160px;
         margin: 0 auto;}
.img2 {position: absolute;}
.p2on {display: inline-block;
       color:#FFFFFF;
      position: relative;
      top:28px;
      right:40px;
      left:40px;
      font-family: 'IBM Plex Sans Arabic', sans-serif;}
.p2 {position: relative;
     font-size:13px;
     width:280px;
     color:#707070;
     display: inline-block;
     padding: 246px 40px 66px 40px;
     font-family: 'IBM Plex Sans Arabic', sans-serif;}
.img3 {position: absolute;}
.p3on {display: inline-block;
       color:#FFFFFF;
      position: relative;
      top:28px;
      right:40px;
      left:40px;
      font-family: 'IBM Plex Sans Arabic', sans-serif;}
.p3 {position: relative;
     font-size:13px;
     width:280px;
     color:#707070;
     display: inline-block;
     padding: 246px 40px 66px 40px;
     font-family: 'IBM Plex Sans Arabic', sans-serif;}
.divsection4 {display: inline-block;
              vertical-align: top;
              margin-right: 40px;}
.images2 {position: absolute;}
.p4on {display: inline-block;
       color:#FFFFFF;
       position: relative;
       top:394px;
      left:569px;
      font-family: 'IBM Plex Sans Arabic', sans-serif;}
.h2 {color:#202124;
      margin: 0 auto;
        margin-bottom: 38px;
        font-size: 24px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;}
.img22 {padding-top: 525px;}
.verticaldiv2 {display: inline-block;
               width: 360px;
               /*margin-top: 38px;*/
               vertical-align: top;}
.botomdiv {margin:0 auto;
           width: 1160px;
           margin-top:60px;}
.photo1 {position: absolute;}
.texton {position: relative;
         color: #FFFFFF;
         display: inline-block;
         padding:18px 0 0 40px;
         font-family: 'IBM Plex Sans Arabic', sans-serif;}
.photo2 {padding-top: 278px;
        }
.photo3 {margin-top:102px;}
